*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.flex_container{
    display: flex;
    justify-content:center;
    
}

#app_header{
    height: 4rem;
    background-color: rgb(74, 68, 165);
    border: 1px solid rgb(140, 140, 175);
    
}
 
.barra_navigazione{
    height: 2rem;
    width: 80rem;
    background-color: rgba(61, 212, 41, 0.301);
    border: 1px solid rgb(52, 219, 19);
    margin: 1rem;
}
.left_logo {
    height: 2rem;
    width: 15rem;
    background-color: rgb(124, 5, 65);
    border: 1px solid rgb(245, 83, 77);
}
/*.right_logo{
    height: 2rem;
    width: 15rem;
    background-color: rgb(43, 5, 24);
    border: 1px solid rgb(165, 133, 132);
}*/

/*NAV*/
#app_nav{
    height: 40rem;
    background-color: rgb(139, 134, 207);
    border: 1px solid rgb(209, 209, 226);
    
}  
.text_download{
    height: 30rem;
    width: 60rem;
    background-color: rgba(212, 41, 84, 0.301);
    border: 1px solid rgb(52, 219, 19);
    margin: 5rem;
}

/*MAIN*/
#app_main{
    height: 50rem;
    background-color: white;
    border: 2px solid  rgb(52, 219, 19);
}
.big_box{
    height: 35rem;
    width: 80rem;
    background-color: rgb(219, 197, 197);
    border: 2px solid rgb(52, 219, 19);
    margin: 7rem;
}