*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.flex_container{
    display: flex;
    justify-content:center;
}
/* HEADER */
#app_header{
    height: 4rem;
    background-color: lightblue;
    border: 1px solid rgb(140, 140, 175);
}
 
.barra_navigazione{
    height: 2rem;
    width: 80rem;
    background-color: white;
    border: 1px solid dotted;
    margin: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    
}
.left_logo {
    height: 2rem;
    width: 20rem;
    background-color:yellow;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content:space-around;
}
.center_logo{
    height: 2rem;
    width: 50rem;
    background-color: orange;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}
.right_logo{
    height: 2rem;
    width: 20rem;
    background-color: yellow;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}

/*NAV*/
#app_nav{
    height: 40rem;
    background-color:blue;
    border: 1px solid black;
}  
.text_download{
    height: 30rem;
    width: 60rem;
    background-color: rgb(240, 111, 240);
    border: 1px solid black;
    margin: 5rem;
}

/*MAIN*/
#app_main{
    background-color: white;
    border: 1px solid black;
}
/*first BOX*/
/*.color_white_bg{
    background-color: rgb(158, 243, 243);
    padding-bottom: 5rem;
}*/
.big_box{
    height: 35rem;
    width: 80rem;
    background-color:white;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5rem;
}
.left-image_box{
    height: 35rem;
    width: 50rem;
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}
.right-text_box{
    height: 35rem;
    width: 30rem;
    background-color: pink;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}
/*second BOX* --------------------color grey*/
.color_grey_bg{
    background-color: lightgray;
    padding-bottom: 5rem;
    
}
.big_box{
    height: 35rem;
    width: 80rem;
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10rem;
    
}

.left-image_box_second{
    height: 35rem;
    width: 30rem;
    background-color: pink;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}
.right-text_box_second{
    height: 35rem;
    width: 50rem;
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}
/*Third BOX*/
/*.color_white_bg{
    background-color: rgb(158, 243, 243);
    padding-bottom: 5rem;
}*/
.big_box{
    height: 35rem;
    width: 80rem;
    background-color:white;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10rem;
}
.left-image_box_third{
    height: 35rem;
    width: 50rem;
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}
.right-text_box_third{
    height: 35rem;
    width: 30rem;
    background-color: pink;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}
/*Fourth BOX*/
.color_grey_bg{
    background-color: lightgray;
    padding-bottom: 5rem;
    
}
.big_box_fourth{
    height: 60rem;
    width: 80rem;
    background-color: green;
    border: 2px solid black;
    margin-top: 5rem;
}

/*FOOTER*/
#app_footer{
    background-color: rgb(87, 83, 87);
    border: 1px solid black;
    
}
/* UP FOOTER*/
.up_footer{
    height: 40rem;
    width: 80rem;
    background-color: rgb(211, 222, 231);
    border: 1px solid black;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.5rem;
}
.vertical_box_one{
    height: 40rem;
    width: 20rem;
    background-color: pink;
    border: 1px solid black;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
}
.vertical_box_prodotto,
.vertical_box_compagnia,
.vertical_box_risorse,
.vertical_box_norme{
    height: 40rem;
    width: 15rem;
    background-color: rgb(77, 196, 226);
    border: 2px solid black;
    display: flex;
    align-items: stretch;
    flex-direction: left;
    justify-content: flex-start;
}
/* DOWN FOOTER*/
.down_footer{
    height: 7rem;
    width: 80rem;
    background-color: rgb(147, 188, 221);
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2rem;
}

